.navbar {
    display: flex;
    flex-direction: row;
    z-index: 10000;
    width: 100%;
    position: fixed;
}

.navButton {
    width: 2rem;
    transition: width .5s ease-in-out;

}

.expanded {
    width: 5rem;
}